

<h1><%=@user.username%>'s Progress:</h1>

 <ul>
 <% @user.rounds.each do |round| %>
  <ul>
    <% Round.order('deck_id DESC, created_at') %>
    <li>Deck name: <%= round.deck_name %></li>
    <li>Studied on: <%= round.created_at %></li>
    <li>Total cards: <%= round.cards.length%></li>
    <li>Cards correct on the first guess: <%= round.cards_correct_on_first_attempt.length %></li>
    <li>Total guesses: <%= round.total_attempts %></li>
    </ul>
    <br>
<% end %>
</ul>