

<h1><%=@user.username.capitalize%>'s Progress:</h1>

<h2>Deck Analysis</h2>
 <ul>
   <% @total_cards = 0 %>
   <% @first_try = 0 %>
   <% @user.rounds.each do |round| %>
   <ul>
      <% Round.order('deck_id ASC, created_at') %>
      <li>Deck name: <%= round.deck_name %></li>
      <li>Studied on: <%= round.created_at %></li>
      <li>Total cards: <%= round.cards.length%></li>
      <% @total_cards += round.cards.length %>
      <li>Cards correct on the first guess: <%= round.cards_correct_on_first_attempt.length %></li>
      <% @first_try += round.cards_correct_on_first_attempt.length %>
      <li>Total guesses: <%= round.total_attempts %></li>
      <br>
    </ul>
    <br>
    <% end %>
  </ul>

<h2>Overall Analysis</h2>
  <% @total_cards -= @first_try %>
  <%= erb :'partials/_pie_chart' %>
